@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --p-surface-0: #ffffff;
  --p-surface-50: #f9fafb;
  --p-surface-100: #f3f4f6;
  --p-surface-200: #e5e7eb;
  --p-surface-300: #d1d5db;
  --p-surface-400: #9ca3af;
  --p-surface-500: #6b7280;
  --p-surface-600: #4b5563;
  --p-surface-700: #374151;
  --p-surface-800: #1f2937;
  --p-surface-900: #111827;
  --p-surface-950: #030712;
}


html.dark {
  --p-surface-0: #111827;
  --p-surface-50: #1f2937;
  --p-surface-100: #374151;
  --p-surface-200: #23272f;
  --p-surface-300: #2d3340;
  --p-surface-400: #3b4252;
  --p-surface-500: #4c566a;
  --p-surface-600: #5e81ac;
  --p-surface-700: #81a1c1;
  --p-surface-800: #88c0d0;
  --p-surface-900: #e5e9f0;
  --p-surface-950: #eceff4;
}

body {
  background-color: var(--p-surface-0);
  color: var(--p-surface-900);
  margin: 0;
  font-family: inherit;
}

html.dark body {
  background-color: var(--p-surface-0);
  color: var(--p-surface-900);
}

.card-theme {
  background-color: var(--p-surface-50) !important;
  color: var(--p-surface-900) !important;
  transition: background-color 0.3s, color 0.3s;
}

html.dark .card-theme {
  background-color: var(--p-surface-100) !important;
  color: #fff !important;
}