@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --p-surface-0: #ffffff;
  --p-surface-50: #f9fafb;
  --p-surface-100: #f3f4f6;
  --p-surface-200: #e5e7eb;
  --p-surface-300: #d1d5db;
  --p-surface-400: #9ca3af;
  --p-surface-500: #6b7280;
  --p-surface-600: #4b5563;
  --p-surface-700: #374151;
  --p-surface-800: #1f2937;
  --p-surface-900: #111827;
  --p-surface-950: #030712;
}

.dark {
  --p-surface-0: #111827;
  --p-surface-50: #1f2937;
  --p-surface-100: #374151;
  --p-surface-950: #f9fafb;
}

body {
  background-color: var(--p-surface-0);
  color: var(--p-surface-900);
  margin: 0;
  font-family: inherit;
}

.dark body {
  background-color: var(--p-surface-0);
  color: var(--p-surface-50);
}